
.app-header-bg-color {
  background-color: #1A6C7A !important;
}
.text-color-white {
  color: white !important;
}
.m-l-11 {
  margin-left: 11px;
}
.float-left {
  float: left;
}
.m-r-4 {
  margin-right:4px !important
}
.bg-black {
  background-color: black !important;
}
.m-t-11{
  margin-top: 11px !important;
}
.border-dashed {
  border: dashed !important;
}
.t-a-c {
  text-align: center !important;
}
