
.app-header-bg-color {
  background-color: #1A6C7A !important;
}
.text-color-white {
  color: white !important;
}
.m-l-11 {
  margin-left: 11px;
}
.float-left {
  float: left;
}
.m-r-4 {
  margin-right:4px !important
}
.bg-black {
  background-color: black !important;
}
.m-t-11{
  margin-top: 11px !important;
}
.border-dashed {
  border: dashed !important;
}
.t-a-c {
  text-align: center !important;
}
.t-a-r {
  text-align: right;
}

.menu-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .menu-trigger {
	background: #ffffff;
	border-radius: 90px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border: none;
	vertical-align: middle;
	transition: box-shadow 0.4s ease;
	margin-left: auto; /* Strictly for positioning */
  }
  
  .menu-trigger:hover {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
	font-weight: 700;
	vertical-align: middle;
	font-size: 14px;
	margin: 0 10px;
  }
  
  .menu-trigger img {
	border-radius: 90px;
  }
  
  .menu {
	background: #ffffff;
	border-radius: 8px;
	
	right: 0;
	width: 300px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  
  .menu.active {
	opacity: 1;
    visibility: visible;
    /* transform: translateX(-24px); */
    transform: translateY(-45px);
  }
  
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .menu li {
	border-bottom: 1px solid #dddddd;
  }
  
  .menu li a {
	text-decoration: none;
	color: #333333;
	padding: 15px 20px;
	display: block;
  }

  .m-b-17 {
	  margin-bottom: 17px !important;
  }

  .uploadedFileDiv {
	overflow-y: scroll;
    min-height: -36px;
    max-height: 74px;
  }
  

  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  
   
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
	.image-size {
		width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
	.image-size {
		width: 100%;
	}
  }

  .m-t-30 {
	  margin-top:30px;
  }